<!DOCTYPE html>
<html lang="en">

<head>
  <title>ConnectMe</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/register.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/jquery.cookie.js"></script>
  <script src="js/custom.js"></script>
</head>

<body>

  <!-- Main Menu Items begin here -->

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="myproject.html">MyPoll</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" id="loginshow">
          <li class="active"><a href="register.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" id="loginhide">
          <li><a href="#"><span class="glyphicon glyphicon-envelope" id="uname"> Welcome! </span></a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-out" id="logout"> Logout</span></a></li>
        </ul>
      </div>
    </div>
  </nav>


  <br>

  <div class="signup-form">
    <form id="tenancyform">
      <h2>Register</h2>
      <p class="hint-text">Create your account with us and find the best talent for your organization!.</p>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-6"><input type="text" class="form-control" name="firstname" placeholder="First Name"
              required="required"></div>
          <div class="col-xs-6"><input type="text" class="form-control" name="lastname" placeholder="Last Name"
              required="required"></div>
        </div>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" name="email_address" placeholder="Email" required="required">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password" required="required">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-6"><input type="text" class="form-control" name="company_name" placeholder="Organization"
              required="required"></div>
          <div class="col-xs-6"><input type="text" class="form-control" name="designation" placeholder="Designation"
              required="required"></div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="tenancy_name" placeholder="Specify Tenancy Name" required="required">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="mobile_num" placeholder="Mobile Number" required="required">
        <input type="hidden" class="form-control" name="role_name" value="ADMIN" required="required">
      </div>
      <div class="form-group">
        <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of
            Use</a> &amp; <a href="#">Privacy Policy</a></label>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg btn-block" id="createtenancy">Register Now</button>
      </div>
    </form>
    <div class="text-center">Already have an account? <a href="#">Sign in</a></div>
    <button type="submit" class="btn btn-success btn-lg btn-block" id="createtenancy1">testme</button>

  </div>


</body>

</html>